              {% for item in cart %}
                {% with product=item.product %}
                  <tr class="cart_item">
                    <td class="product-thumbnail">
                      <a href="/{{ product.category.slug }}/{{ product.slug }}">
                        <img src="/media/{{ product.image }}" alt="" height="75">
                      </a>
                    </td>
                    <td class="product-name">
                      <a href="/{{ product.category.slug }}/{{ product.slug }}">{{ product.name }}</a>
                    <!--  <ul>
                        <li>Size: L</li>
                        <li>Color: Black</li>
                      </ul>-->
                    </td>
                    <td class="product-price">
                      <span class="amount">{{ product.price }}</span>
                    </td>
                    <td class="product-quantity">
                      <div class="quantity buttons_added">
                        <form action="{% url "CartAdd" product.slug %}" method="post" class="add_cart" name="{{ product.slug }}">
                          <!--<input type="number" step="1" min="0" value="{{ item.quantity }}" title="Qty" class="input-text qty text">-->
                          {% if edit_quantity %}
                          <input class="input-text qty text" id="{{ product.slug }}" name="quantity" required="required" type="number" min="0" value="{{ item.quantity }}">
                          {% else %}
                          <input class="input-text qty text" id="{{ product.slug }}" name="quantity" required="required" type="number" min="0" value="{{ item.quantity }}">    
                          {% endif %}
                          <input id="id_update" name="update" value="True" type="hidden">
                          {{ item.update_quantity_form.update }}
                          {% if edit_quantity %}
                            <input id="id_update" name="update" value="{{ edit_quantity }}" type="hidden">
                          {% endif %}
                          {% csrf_token %}
                          {% if token %}
                            <input  name="csrfmiddlewaretoken" value="{{ token }}" type="hidden">
                          {% endif %}


                          <input class="refresh" type="submit" value="обновить">
                        </form>
                      </div>
                    </td>
                    <td class="product-subtotal">
                      <span class="amount">{{ item.total_price }}</span>
                    </td>
                    <td class="product-remove">
                      <a href="{% url 'CartRemove' product.slug  %}" class="cart_remove" title="Удалить товар">
                        <i class="ui-close"></i>
                      </a>
                    </td>
                  </tr>
                {% endwith %}
              {% endfor %}
              <tr class="order-total">
                    <th colspan="4">Сумма всего</th>
                    <td >
                      <strong><span class="amount">{{ cart.get_total_price }}руб</span></strong>
                    </td>
               </tr>