{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}Оформление заказа{% endblock %}
{% block content %}


    <!-- Page Title -->
    <section class="page-title text-center">
      <div class="container">
        <h1 class=" heading page-title__title">Оформление заказа</h1>
      </div>
    </section> <!-- end page title -->


    <!-- Checkout -->
    <section class="section-wrap checkout">
      <div class="container relative">
        <div class="row">

          <div class="ecommerce col">

            <div class="row mb-30">
            </div>

            <form action="{% url 'order_create' %}" method="post" name="checkout" class="checkout ecommerce-checkout row">
              {% csrf_token %}
              <div class="col-lg-7" id="customer_details">
                <div>
                  <h2 class="uppercase mb-30">Детали заказа</h2>

                  <p class="form-row form-row-first validate-required ecommerce-invalid ecommerce-invalid-required-field" id="billing_first_name_field">
                    <label for="billing_first_name">Имя
                      <abbr class="required" title="required">*</abbr>
                    </label>
                    <input type="text" class="input-text" placeholder value name="{{ form.name.name }}" id="billing_first_name" required="required">
                  </p>

                  <p class="form-row form-row-last validate-required ecommerce-invalid ecommerce-invalid-required-field" id="billing_last_name_field">
                    <label for="billing_last_name">Фамилия
                      <abbr class="required" title="required">*</abbr>
                    </label>
                    <input type="text" class="input-text" placeholder value name="{{ form.familiya.name }}" id="billing_last_name" required="required">
                  </p>
                  <p class="form-row form-row-first validate-required ecommerce-invalid ecommerce-invalid-required-field" id="billing_first_name_field">
                    <label for="billing_otchestvo_name">Отчество
                      <abbr class="required" title="required">*</abbr>
                    </label>
                    <input type="text" class="input-text" placeholder value name="{{ form.otchestvo.name }}" id="billing_otchestvo_name" required="required">
                  </p>

                  <p class="form-row form-row-last validate-required validate-phone" id="billing_phone_field">
                    <label for="billing_phone">Телефон
                      <abbr class="required" title="required">*</abbr>
                    </label>
                    <input type="text" class="input-text" placeholder value name="{{ form.phone.name }}" id="billing_phone" required="required">
                  </p>

                  <p class="form-row form-row-first validate-required validate-email" id="billing_email_field">
                    <label for="billing_email">Email
                      <abbr class="required" title="required">*</abbr>
                    </label>
                    <input type="email" class="input-text" placeholder value name="{{ form.email.name }}" id="billing_email" required="required">
                  </p>
                  <p class="form-row notes ecommerce-validated" id="order_comments_field">
                    <label for="order_comments">Комментарий к заказу</label>
                    <textarea name="{{ form.comment.name }}" class="input-text" id="order_comments" placeholder="" rows="2" cols="6"></textarea>
                  </p>    

                  <div id="delivery" class="checkout-delivery">
                    <h2 class="uppercase">Выберите способ доставки</h2>
                    <ul class="delivery_methods methods">

                      <li class="delivery_method_bacs">
                        <input id="delivery_method_bacs" type="radio" class="input-radio-1" name="{{ form.delivery.name }}" value="Самовывоз" checked="checked">
                        <label for="delivery_method_bacs">Самовывоз</label>
                        <div class="delivery_box delivery_method_bacs">
                          <p>При таком способе вы приезжаете в магазин и забираете заказ.</p>
                        </div>
                      </li>

                      <li class="delivery_method_cheque">
                        <input id="delivery_method_cheque" type="radio" class="input-radio-2" name="{{ form.delivery.name }}" value="Доставка">
                        <label for="delivery_method_cheque">Доставка</label>
                        <div class="delivery_box delivery_method_cheque">
                          <p>При таком способе заказ увеличивается на 1000рублей. При заказе от 10000рублей доставка <b>бесплатно</b></p>
                        </div>
                      </li>

                    </ul>
                    <p class="form-row form-row-wide address-field validate-required ecommerce-invalid ecommerce-invalid-required-field" id="billing_address_1_field">
                      <label for="billing_address">Адрес
                        <abbr class="required" title="required">*</abbr>
                      </label>
                      <input type="text" class="input-text" value name="{{ form.address.name }}" id="billing_address">
                    </p>
                  </div>
                </div>

             <!--   <p class="form-row form-row-wide create-account">
                  <input type="checkbox" class="input-checkbox" id="createaccount" name="createaccount" value="1">
                  <label for="createaccount" class="checkbox-label">Create an account?</label>
                </p>

                <div>
                  <div class="ecommerce-shipping-fields">
                    <input type="checkbox" id="ship-to-different-address-checkbox" class="input-checkbox" name="ship_to_different_address" value="1">
                    <label for="ship-to-different-address-checkbox" class="checkbox">Ship to a different address</label>
                  </div>

                </div>-->

              </div> <!-- end col -->

              <!-- Your Order -->
              <div class="col-lg-5">
                <div class="order-review-wrap ecommerce-checkout-review-order" id="order_review">
                  <h2 class="uppercase">Ваш заказ</h2>
                  <table class="table shop_table ecommerce-checkout-review-order-table">
                    <tbody>
                    {% for item in cart %}
                      {% with product=item.product %}
                        <tr>
                          <th>{{ product.name }}<span class="count"> x {{ item.quantity }}</span></th>
                          <td>
                            <span class="amount">{{ item.price }}руб</span>
                          </td>
                        </tr>
                      {% endwith %}
                    {% endfor %}
                      <tr class="cart-subtotal">
                        <th>Сумма</th>
                        <td>
                          <span class="amount">{{ cart.get_total_price }}руб</span>
                        </td>
                      </tr>
                      <tr class="shipping_sam">
                        <th>Самовывоз</th>
                        <td>
                          <span>0,00руб</span>
                        </td>
                      </tr>
                      <tr class="shipping_dos">
                        <th>Доставка</th>
                        <td>
                          <span class="amount">{% if cart.get_total_price > 10000 %}0,00руб{% else %}1000,00руб{% endif %}</span>
                        </td>
                      </tr>
                      <tr class="order-total">
                        <th><strong>Всего к оплате</strong></th>
                        <td>
                          <strong><span class="amount">{{ cart.get_total_price }}руб</span></strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div id="payment" class="ecommerce-checkout-payment">
                    <h2 class="uppercase">Выберите способ оплаты</h2>
                    <ul class="payment_methods methods1">

                      <li class="payment_method_bacs">
                        <input id="payment_method_bacs" type="radio" class="input-radio-3" name="{{ form.payment.name }}" value="Оплата на сайте" checked="checked">
                        <label for="payment_method_bacs">Оплата на сайте</label>
                        <div class="payment_box payment_method_bacs">
                          <p>Вы можете совершить оплату прямо на сайте. При таком способе оплаты Вы получаете <b>скидку 5%</b> на весь заказ.</p>
                        </div>
                      </li>

                      <li class="payment_method_cheque">
                        <input id="payment_method_cheque" type="radio" class="input-radio-4" name="{{ form.payment.name }}" value="Оплата при доставке">
                        <label for="payment_method_cheque">Оплата при доставке</label>
                        <div class="payment_box payment_method_cheque">
                          <p>При таком способе оплаты Вы оплатите заказ по факту доствки товара. Оплата принимается только наличными!</p>
                        </div>
                      </li>

                    </ul>
                    <div class="form-row place-order">
                      <input type="submit" name="" class="btn btn-lg btn-color btn-button" id="place_order" value="Заказать">
                    </div>
                  </div>
                </div>
              </div> <!-- end order review -->
            </form>

          </div> <!-- end ecommerce -->

        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end checkout -->


{% endblock %}